---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.svelte'
import Home from '../components/Home.svelte'
import 'remixicon/fonts/remixicon.css'
---

<BaseLayout>
  <div class="lg:border-x-2 lg:border-gray-200 flex flex-col h-full lg:mx-24">
    <Header client:only />
    <Home />
  </div>
</BaseLayout>
