---
import { SEOMetadata } from 'astro-seo-metadata'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Saurabh | Portfolio</title>
    <link rel="canonical" href="https://saurabhvishwakarma.in" />

    <meta property="og:type" content="website" />

    <meta name="apple-mobile-web-app-title" content="Saurabh Vishwakarma" />
    <meta property="og:site_name" content="Saurabh Vishwakarma" />

    <title>Saurabh Vishwakarma — Backend Engineer</title>

    <meta
      property="og:title"
      content="Saurabh Vishwakarma — Backend Engineer"
    />
    <meta
      name="twitter:title"
      content="Saurabh Vishwakarma — Backend Engineer"
    />

    <meta
      property="og:image:alt"
      content="Portfolio and professional profile of Saurabh Vishwakarma, featuring software engineering projects, skills, and internship experience at different companies."
    />
    <meta
      name="description"
      property="og:description"
      content="Hi, I'm Saurabh Vishwakarma, a Software Development Engineer Intern specializing in high-performance REST APIs, real-time systems, and scalable cloud solutions. Explore my projects and skills in Python, FastAPI, React, and more!"
    />
    <meta
      name="twitter:description"
      content="Hi, I'm Saurabh Vishwakarma, a Software Development Engineer Intern specializing in high-performance REST APIs, real-time systems, and scalable cloud solutions. Explore my projects and skills in Python, FastAPI, React, and more!"
    />

    <meta
      property="og:image"
      content="https://saurabhvishwakarma.in/saurabh.png"
    />
    <meta
      name="twitter:image:src"
      content="https://saurabhvishwakarma.in/saurabh.png"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="author" content="Saurabh Vishwakarma" />
    <meta name="copyright" content="Saurabh Vishwakarma" />

    <link rel="sitemap" type="application/xml" href="/sitemap.xml" />
    <meta name="generator" content="Astro v1.0.6" />
  </head>
  <body class="">
    <slot />
  </body>
</html>

<style>
  html {
    height: 100vh;
    width: 100vw;
  }
  body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    max-width: 1920px;
  }
</style>
